@model desafioConcilig.Models.Importacao

@{
    ViewData["Title"] = "Upload";
}

<h1>Nova importação</h1>

<h4>Arquivo csv</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Upload" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="importacao" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                    <p>Selecione o csv</p>
                    <input type="file" name="files" accept="image/*">
                </div>
            </div>
            @* <div class="form-group">
                <label asp-for="Cliente.nome" class="control-label"></label>
                <select asp-for="Cliente" class="form-control" asp-items="ViewBag.Clientes">
                    <option value="">-- Selecione o Cliente --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Produto.descricao" class="control-label"></label>
                <select asp-for="Produto" class="form-control" asp-items="ViewBag.Produtos">
                    <option value="">-- Selecione o Produto --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="referencia" class="control-label"></label>
                <input asp-for="referencia" class="form-control" />
                <span asp-validation-for="referencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataVencimento" class="control-label"></label>
                <input asp-for="dataVencimento" class="form-control" />
                <span asp-validation-for="dataVencimento" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Importar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
